In [1]:
import pandas as pd
import os

In [2]:
result_folder = '../out/cluster-notype-partition-4w'

In [4]:
# Load the CSV file into a DataFrame
# Get list of all CSV files in the 'out' directory
csv_files = [f for f in os.listdir(result_folder) if f.endswith('.csv')]

# Initialize an empty DataFrame
df = pd.DataFrame()

# Loop through the CSV files and concatenate them into a single DataFrame
for file in csv_files:
    df_additional = pd.read_csv(os.path.join(result_folder, file), names=['link', 'PageRank_score'])
    df = pd.concat([df, df_additional], ignore_index=True)

In [5]:
df.head()

                                                link  PageRank_score
0                <http://dbpedia.org/resource/Rizla>        1.030901
1    <http://dbpedia.org/resource/Emperor_Joseph_II>        1.310585
2  <http://dbpedia.org/resource/International_Fin...       13.834791
3             <http://dbpedia.org/resource/IBM_7909>        0.152711
4  <http://dbpedia.org/resource/Serial_Storage_Ar...        1.201260

In [6]:
# Sort the DataFrame by PageRank_score in descending order
df_sorted = df.sort_values(by='PageRank_score', ascending=False)
df_sorted.head()

                                                       link  PageRank_score
118273          <http://dbpedia.org/resource/Living_people>    36794.331468
246149          <http://dbpedia.org/resource/United_States>    13201.340152
1219637   <http://dbpedia.org/resource/Race_and_ethnicit...    10371.162006
10041278  <http://dbpedia.org/resource/List_of_sovereign...     5195.347362
1176375        <http://dbpedia.org/resource/United_Kingdom>     4923.821309

In [9]:
# Save the sorted DataFrame to a CSV file
df_sorted.head().to_csv(os.path.join('./', result_folder + '_sorted_pagerank.csv'), index=False)